{% extends 'main.html' %}

{% block title %}Shop | Products{% endblock %}

{% block content %}

<div class="row mt-5">

    <a href="" class="btn btn-secondary">Add Products</a>
    <table class="table table-striped">
        <tr class="">
            <th>id</th>
            <th>Product</th>
            <th>Category</th>
            <th>Date Created</th>
            <th>Action</th>
        </tr>
        {% for product in products %}
        <tr>
            <td class="table-primary">{{ product.id }}</td>
            <td class="table-primary">{{ product.name }}</td>
            <td class="table-primary">{{ product.category }}</td>
            <td class="table-primary">{{ product.date_created }}</td>
            <td class="table-primary">
                <div class="btn-group">
                    <a href="{% url 'product-details' product.id %}" type="submit" class="btn btn-secondary">Show</a>
                    <a href="{% url 'product-update' product.id %}" type="submit" class="btn btn-primary">Edit</a>
                    <button href="{% url 'product-delete' product.id %}" type="submit" class="btn btn-danger">Delete
                        <div class="row">
                            <div class="card card-body">
                                <p>Are you sure you want to delete {{ product_item }}?</p>
                                <form action="{% url 'product-delete' product.id %}" method="post">
                                    {{ csrf_token }}
                                    <a class="btn btn-warning">Cancel</a>
                                    <input class="btn btn-danger" name="Confirm" type="submit">
                                </form>
                            </div>
                        </div>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}